<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrimerProyectoClubDeportivoPA2.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>JWY</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catálogos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" asp-area="" asp-controller="Sports" asp-action="Index">Deportes</a>
                                <div class="dropdown-divider"></div>

                                @if (this.User.IsInRole("Admin"))
                                 {
                                <a class="dropdown-item" asp-area="" asp-controller="WeekDays" asp-action="Index">Días de la semana</a>
                                 }
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-controller="Facilities" asp-action="Index">Instalaciones</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-controller="MembershipTypes" asp-action="Index">Tipo de membresías</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Detalles</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-controller="Permits" asp-action="Index">Permisos</a>
                                <div class="dropdown-divider"></div>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Coach") || this.User.IsInRole("Member"))
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Index">Horarios</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="TrainingSessions" asp-action="Index">Sesiones de Entrenamientos</a>
                                }
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-controller="AdditionalSkills" asp-action="Index">Habilidades adicionales</a>
                                <div class="dropdown-divider"></div>

                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Coach"))
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Agenda" asp-action="Index">Agenda Miembros</a>
                                }
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                        @if (this.User.IsInRole("Admin"))
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admins" asp-action="Index">Administradores</a>
                            </li>
                            
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Coaches" asp-action="Index">Coaches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Miembros</a>
                        </li>
                            }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li>@this.User.Identity.Name</li>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-success">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Complejo Deportivo JOHN WESLEY- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
