@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO AL CLUB DEPORTIVO JOHN WESLEY S.A. DE C.V.</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1THOam0NOqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p> Software creado con <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
